.profilecontainer {
  width: 80%;
  margin: 10px auto;
}
ion-avatar {
  width: 170px;
  height: 170px;
}
.center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.detailscontainer {
  margin-top: 30px;
  border-radius: 10px;
  background-color: #17394b;
  height: fit-content;
  position: relative;
}

.detailslist {
  padding: 25px 30px 30px 30px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 40px;
}

ion-label {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: capitalize;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}
.username {
  font-size: 25px;
}

.deleteButton .button-solid {
  background: rgb(184, 5, 5) !important;
}
.ImageContainer {
  display: flex;
  flex-direction: column;
  gap: -20px;
  align-items: center;
}

.UploadIcon {
  align-self: flex-end;
  font-size: 30px;
  transform: translateY(-19px) translateX(-7px);
  opacity: 0.9;
}
.UploadIcon:hover {
  opacity: 1;
  cursor: pointer;
}
.settingsIcon {
  align-self: flex-end;
  font-size: 20px;
}

.updateContent {
  display: grid;
  gap: 10px;
  grid-template-columns: 6fr 0.5fr;
  align-items: center;
  justify-content: center;
}
.updateIcon {
  font-size: 20px;
  align-self: center;
  justify-self: center;
}
.nopadding {
  padding-right: 0 !important;
}
.redToast {
  --background: var(--ion-color-danger) !important;
}
.guides {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.guidesItem {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  opacity: 0.8;
}
.guidesIcon {
  font-size: 20px;
  opacity: 1 !important;
}
.skeletonForName {
  width: 70%;
}
