.centerPage {
  padding: 0 40px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  max-height: 600px;
}
.normalPage {
  padding: 0 40px;

  text-align: center;
  margin: 0 auto;
  width: 100%;
}
h3 {
  font-weight: 700;
  font-family: 'Titillium Web', 'Open Sans', 'sans-serif';
  color: white;
  letter-spacing: 0.2rem;
  padding: 0 10px;
  font-size: 30px;
  margin: 0 !important;
  text-align: center;
}
h4 {
  font-weight: 700;
}
.loginContainer {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;

  justify-content: center;
}
.RegisterContainer {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-bottom: 40px;
}

.FormLogoAndText {
  display: flex;
  flex-direction: column;

  align-items: center;
  gap: 20px;
}
.formContainer {
  width: 100%;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.border {
  border: 2px solid #286ab7;
}

h4 {
  font-family: 'Titillium Web', 'Open Sans', 'sans-serif';
  font-size: 10px;
  font-weight: 600;
  color: #79bcfa;
  opacity: 0.8;
  line-height: 16px;
  letter-spacing: 2px;
  margin: 0 !important;
}
.forgot {
  font-size: 15px;
  font-family: 'Titillium Web', 'Open Sans', 'sans-serif';
  text-decoration: underline;
  font-weight: 600;
  color: #79bcfa;
  opacity: 0.8;
  line-height: 16px;
  letter-spacing: 2px;
}
.forgot:hover {
  opacity: 1;
  cursor: pointer;
}
.signup {
  display: flex;
  align-items: center;
  gap: 10px;
}

.disclaimer {
  color: white;
  font-size: 10px;
  text-align: center;
}
.errorMessage {
  color: red;
  font-size: 15px;
  align-self: flex-start;
  opacity: 0.6;
}
.withError {
  display: flex;
  flex-direction: column;

  gap: 10px;
}
.autherror {
  color: red;
  font-size: 15px;
  text-align: center;
  opacity: 0.6;
}

@media (max-width: 250px) {
  .signup {
    flex-direction: column;
  }
}
