.signal-card {
  padding: 20px;
  background-color: #17394b;
  border-radius: 10px;
  gap: 20px;
  max-width: 600px;
  width: 100%;
  height: 160px;
  color: white;
  align-items: flex-start;
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.signal-card__user {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}
.signal-card__position {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
.signal-card__info {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}
.signal-card__info__label {
  line-height: 20px;
  text-align: center;
}

.signal-card__tps {
  display: flex;
  gap: 12px;
  flex-direction: column;
}
.signal-card__tps__label {
  opacity: 0.8;
}

@media (max-width: 360px) {
  .signal-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
  }
  .signal-card__tps {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto);
  }
  .signal-card__info {
    align-items: center;
  }
  .signal-card__info__label {
    text-align: center;
  }
}
@media (max-width: 270px) {
  .signal-card {
    grid-template-columns: auto;
    height: 100%;
  }
  .signal-card__tps {
    grid-template-columns: repeat(2, 1fr);
  }
  .signal-card__info {
    gap: 10px;
  }
}

@media (min-width: 423px) {
  .signal-card {
    align-items: flex-start;
  }
}

@media (min-width: 640px) {
  .signal-card {
    height: 170px;
  }
}
