.crypto-card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #17394b;
  border-radius: 10px;
  gap: 15px;
  width: 220px;
  height: 166px;
  color: white;
}
.crypto-card__header {
  display: flex;
  gap: 11px;
  align-items: center;
}
.crypto-card__header__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.crypto-card__header__content__abbrevation {
  text-transform: uppercase;
}
.crypto-card__header__content__name {
  opacity: 0.7;
  font-size: 9px;
  word-wrap: break-word;
  text-align: left;
}

.crypto-card__info {
  font-size: 12px !important;
  display: flex;
  justify-content: space-between;
}
.crypto-card__info__label {
  font-size: 14px;
}
@media (max-width: 446px) {
  .crypto-card__info__label {
    font-size: 11px;
  }
}
