ion-card-title {
  font-weight: 700;
  font-family: 'Titillium Web', 'Open Sans', 'sans-serif';
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
  padding: 20px 20px;
  font-size: 20px;
}
ion-card-content {
  font-family: 'Titillium Web', 'Open Sans', 'sans-serif';
  font-size: 10px;
  font-weight: 600;
  color: #79bcfa;
  opacity: 0.8;
  line-height: 16px;
  letter-spacing: 2px;
  padding: 0 20px 20px 20px !important;
}
ion-card {
  background-color: #17394b;
  border-radius: 10px;
}
.checknews {
  color: white;
  opacity: 0.8;
}
