.message-container {
  gap: 20px !important;
}

.message-container__profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  gap: 5px;
}

.message-container__profile__tools {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.message-container__profile__tools__icon {
  font-size: 20px;
  color: white;
}
.message-container__profile__avatar {
  width: 40px;
  height: 40px;
}

.message-container__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #17394b;
  border-radius: 10px;
  padding: 10px 20px;
  width: max-content;
  max-width: 230px;
  color: white;
}
@media (max-width: 320px) {
  .message-container__content {
    max-width: 175px;
  }
}
@media (max-width: 275px) {
  .message-container__content {
    max-width: 140px;
  }
}
@media (min-width: 440px) {
  .message-container__content {
    max-width: 300px;
  }
}
@media (min-width: 675px) {
  .message-container__content {
    max-width: 400px;
  }
}
@media (min-width: 1200px) {
  .message-container__content {
    max-width: 800px;
  }
}
.message-container__content--reversed {
  align-items: flex-end;
}

.message-container__content__label {
  opacity: 0.8;
  text-decoration: wavy;
  font-size: 10px;
}
.message-container__content__icon {
  color: white;
  font-size: 10px;
}

.message-container__content__message {
  line-height: 22px !important;
}
.message-container__content__username {
  color: #79bcfa;
}
